# alabaster
# appdirs
# attrs
# Automat
# Babel
# beautifulsoup4
bottle
# certifi
# chardet
# constantly
# deprecation
# docutils
ez-setup
gevent
greenlet
gunicorn
# html5lib
# hupper
# idna
# imagesize
# incremental
# iso8601
jieba
Jinja2
# keystoneauth1
lxml
MarkupSafe
# mysql-replication
# numpy
# olefile
OpenCC
# openstacksdk
# os-client-config
# PasteDeploy
# pbr
# Pillow
# positional
# psycopg2
# pygame
# Pygments
# PyMySQL
# PyPDF2
pyramid
# python-openstacksdk
# pyttsx
pytz
# PyYAML
reportlab
repoze.lru
requests
requestsexceptions
six
snowballstemmer
# Sphinx
# sphinxcontrib-websupport
# stevedore
# torch
# torchvision
# translationstring
# Twisted
# urllib3
# uvloop
# venusian
# webencodings
# WebOb
Whoosh
# wrapt
xhtml2pdf
zope.deprecation
zope.interface
python-docx
python-levenshtein
fuzzywuzzy
