<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>文本比较</title>
  <link rel="stylesheet" href="">
  <!--link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"-->
  <link href="/static/bootstrap-3.3.7.min.css" rel="stylesheet">
  <script>
  //<![CDATA[
  //]]>
  </script>
  <style>
  <!--
  .container{
    color: black;
    font-size: x-large;
    background-color: #E7F4FE;
  }
  .red{
    color: red;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
  }
  .blue{
    color: blue;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
  }
  -->
  </style>
</head>
<body>
<form action="/diff" method="post" enctype="multipart/form-data">
  左边的文件: <input type="file" name="lfile">
  右边的文件: <input type="file" name="rfile">
  <select>
    <option value="volvo" selected="selected">Normal模式</option>
    <option value="saab">Contenxt模式</option>
    <option value="opel">Unified模式</option>
  </select>
  <select>
    <option value="volvo" selected="selected">简体繁体智能模式(自动判断简体繁体然后全部转换成繁体比较)</option>
    <option value="saab">原样模式(不对上传文字简体繁体做判断)</option>
  </select>
  <select name="punct">
    <option value="true" selected="selected">不比较标点符号(过滤标点符号)</option>
    <option value="false">比较标点符号</option>
  </select>
  <input type="submit" value="上传">
</form>
<a href="/diff">按照字染色显示结果</a>XXXXXXXXXX<a href="/diff/word">按照词染色显示结果</a>XXXXXXXXXX<a href="/diff/line">按照行染色显示结果</a>
<br />
<div class="container">
<div class="row">
  <div class="col-xs-6">
  {{lfile}}
  </div>
  
  <div class="col-xs-6">
  {{rfile}}
  </div>
  </div>
</div>
<br />
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
</body>
</html>


