<!DOCTYPE html>
<html lang="lzh-Hant-HK">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>Title</title>
  <link rel="stylesheet" href="">
  <script>
  //<![CDATA[
  //]]>
  </script>
  <style>
  <!--
  -->
  </style>
</head>
<body>
<br />
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
      <!--li><a href="/mulu/{{key|truncate(5, end='')}}">{{ key }}</a></li-->
        <nav>
   <h1>Navigation</h1>
  </nav>
<br>
<br>
<br>
<br>
<ul>
   <li><a href="/mulu">按照部类方式</a></li>
   <li><a href="/cebie">按照册别方式</a></li>
    {# for key in menus #}
     <li><a href="{#request.path#}/{#key#}">{# key #}</a></li>
    {# endfor#}
</ul>

</body>
</html>


