<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>兰扎字母表</title>
  <link rel="stylesheet" href="static/tei.css">
  <script>
  //<![CDATA[
  //]]>
  </script>
  <style>
  <!--
  -->
  </style>
</head>
<body>
<br />


<form action="/sd" method="post">
名字: <input type="text" name="name">
<!--通用字: <input type="text" name="norm"-->
原字: <input type="text" name="val">
<input type="submit" value="提交">
</form>

<table>
<tr>
<td>Cell A</td>
<td>Cell B</td>
</tr>
</table>

<table>
<tr><td>名称</td><td>romanu</td><td>romanu</td><td>原字</td><td>xxx</td><td>图片</td></tr>
{% for name, nor, uni, nun, url, des, cipin in result %}
<tr>
<td>{{loop.index}}</td><td>{{name}}</td><td>{{nor}}</td><td class="uni">{{uni}}</td><td class="nun">{{nun}}</td><td>{{des}}</td><td><img src="{{url}}"/></td>
<td class="cipin">{{cipin}}</td>
</tr>
{% endfor %}
</table>
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
</body>
</html>


