<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>古籍智能搜索</title>
  <link rel="stylesheet" href="/static/bootstrap4.min.css"/>
  <script type="text/javascript">
	/*设置input中文本的光标位置*/
       function setCaretPosition(ctrl, pos){
         if(ctrl.setSelectionRange)
         {
             ctrl.focus();
             ctrl.setSelectionRange(pos,pos);
         }
         else if (ctrl.createTextRange) {
             var range = ctrl.createTextRange();
             range.collapse(true);
             range.moveEnd('character', pos);
             range.moveStart('character', pos);
             range.select();
         }
     }

     /*点击按钮时插入IDS序列描述字符*/
      function addNewText(x)
      {
        var ctx=document.getElementById("content");
        pos = ctx.selectionStart;
        ctx.value = ctx.value.slice(0, pos) + x + ctx.value.slice(pos);
        npos = pos + x.length;
        /*setCaretPosition(ctx, npos);*/
        ctx.setSelectionRange(npos,npos);
        ctx.focus();
      }

      function Monitor(t){
		/*限制只能输入合规字符*/
          var str1 = t.value.slice(0, -1);
          var str2 = t.value;
          var patt1 = /\\U000[0-9a-fA-F]{0,4}$/;
          var patt2 = /\\U000[0-9a-fA-F]{0,5}$/;
          var patt3 = /\\u[0-9a-fA-F]{0,3}$/;
          var patt4 = /\\u[0-9a-fA-F]{0,4}$/;
          if (str1.search(patt1) != -1 && str2.search(patt2) == -1){
            t.value = str1;
            }
          if (str1.search(patt3) != -1 && str2.search(patt4) == -1){
            t.value = str1;
            }
          t.focus();
      }

  </script>
  <style>
    /* 悉昙体字体 */
    @font-face {
      font-family: 'siddham';
      font-style: normal;
      font-weight: normal;
      src:  url(/static/fonts/NotoSansSiddham-Regular.otf) format('opentype');
      unicode-range: U+11580-115FF;
    }
    body {
        font-family: 'siddham';
        /*color:#990099;*/
        letter-spacing: 0;
    
    }

  <!--
  /*em:lang(ja),em:lang(zh) {*/
  /*em {
      padding-bottom: .05em;
      padding-bottom: -webkit-calc(0px);
      font-style: inherit;
      -moz-text-emphasis: filled circle;
      -webkit-text-emphasis: filled circle;
      -moz-text-emphasis-position: under right;
      -webkit-text-emphasis-position: under right;
      text-emphasis: filled circle;
      text-emphasis-position: under right;
      //border-bottom: 2px dotted;
      border-bottom-width: -webkit-calc(0px);
  }*/
  em {
    font-weight:bold;
    color: red;
  }
  span {
    color: green;
  }

  -->
  </style>
</head>
<body>
<br />

<div class="container">
<form action="/search" method="get" role="form">
  <div class="row center-block">
    <div class="col-lg-8">
      <input type="text" class="form-control" id="content" name="content" value="{{content}}" oninput="Monitor(this);" autofocus="autofocus" placeholder="自动检测简体繁体内容">
      <input type="hidden" class="form-control" id="q" name="q" value="{{q}}">
    </div>
    <input type="submit" class="btn btn-default">
  </div>

  <!--div class="input-group mb-3">

       <label class="radio-inline"><input type="radio" name="istitle" checked="true">Title</label>
       <label class="radio-inline"><input type="radio" name="isctx">Content</label>
       <label class="radio-inline"><input type="radio" name="isdict" disabled>Dict</label>
  </div-->

  <div class="d-flex flex-row mb-3">
    <div class="p-2 {% if q=='title'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=title&content={{content}}">标題/經號/引用</a></div>
    <div class="p-2 {% if q=='content'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=content&content={{content}}">全文搜索</a></div>
    <!--div class="p-2 {% if q=='dict'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=word&content={{content}}">字典</a></div-->
    <div class="p-2 {% if q=='dict'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=dict&content={{content}}">詞典</a></div>
    <div class="p-2 {% if q=='qa'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=qa&content={{content}}">問答</a></div>
    <div class="p-2 {% if q=='qa'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=temple&content={{content}}">寺觀</a></div>
  </div>

 <div  class="input-group mb-3">
    <div class="btn-group btn-group-justified">
      <span>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿰')">⿰</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿱')">⿱</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿲')">⿲</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿳')">⿳</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿴')">⿴</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿵')">⿵</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿶')">⿶</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿷')">⿷</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿸')">⿸</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿹')">⿹</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿺')">⿺</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿻')">⿻</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('↷')">↷</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('↹')">↹</a>
   <!--a href="#" class="btn btn-primary" onclick="addNewText('\\U000')">\U000xxxxx</a-->
      </span>
   </div>
 </div>

<p class="help-block">请先阅读：<a href="https://zhuanlan.zhihu.com/p/19753292">如何精确地表示生僻字</a></p>
<p class="help-block">已經包含全部漢語和巴利語佛典、詞典。梵語、英語和藏語資料整理中。外文資料暫時無力使用同義詞近義詞查找, 使用時請註意。</p>
<!--p class="help-block">标題或經號可以使用的字段只包括title和number, 不支持复杂查询。</p-->
<p class="help-block">全文搜索可以使用的字段包括content, author, title, chapter, number。</p>
<p class="help-block">字典可以使用的字段包括key, dict, author, definition。</p>
<p class="help-block">问答可以使用的字段包括quaere, answer, quizzer, answerer 。</p>
<p class="help-block">author为作者, title为经名, chapter为品名, number为经号。key为字(词), quaere为问题。<br>
空格、and、&#38;作为逻辑与的分隔，但是不能混用(建议使用&#38;,语法更宽松)。例如，搜索作者为玄奘法师，内容为"坚固执著"。应该在搜索框中输入如下内容(不包含双引号):“坚固执著 author:玄奘”或者“坚固执著&#38; author:玄奘”</p>
<p class="help-block">number为一切合法的经号形式，例如(分隔符为全角顿号): T01n0001、T01n0001_001、T01n0001_p0001a01、T01,no.1,p.1a1、<br>CBETA 2019.Q2, Y25, no. 25, p. 411a5-7<br>
 CBETA,T14,no.475,pp.537c8-538a14、<br>
 100、100,3、t1000、t1000_001、<br>
 《大正藏》第50卷第262頁中、大正二·一a<br>
 例如:希望在解深密经中搜索"坚固执著"，可以输入"坚固执著&#38;number:T16n0676"或者"坚固执著&#38;number:676" 或者"坚固执著&#38;title:解深密经"
 </p>
<p class="help-block">八卦符号的转义字符为"\gxxx"(八卦)与"\Gxxxxxx"(六十四卦)两种形式，例如，搜索震卦，输入"\g001"；搜索谦卦，输入"\G000100"</p> 
<p class="help-block">因为与正则表达式等存在兼容性问题，其他地方不再提供CBETA组合字的查询，只放在"字典"类中提供。可以在字典中查询到需要的字之后，重组原有查询句子</p>
<p class="help-block">生僻字组合优先级由低到高分别为: CBETA组合字、UNICODE IDS、转义字符(支持\uxxxx、\U000xxxxx、\gxxx、\Gxxxxxx四种形式)。</p> 
<!--p class="help-block"><h5>建议大家使用词汇的方式来搜索，不要使用单个字的方式搜索，因为服务器的算法是基于对汉语词汇的理解，过短(比如单个字)或者太长的句子很可能难以找到需要寻找的内容。生僻字可以和正常的字一起组合成词汇，一起搜索。如果暂时搜索不到，可以过一些日子重新搜索，等待服务器理解。</h5></p--> 

</form>
<!--/div-->
  <br>
  <br>

<ol>
  {% for it in results %}
  <li>
    <div>
    {{it.number}}
    <a href="{{it.an}}">{{it.title}}</a>{%if it.author is defined%} <span>{{it.author}}</span>{% endif%}<br>
    <div>
    {{it.hl}}
    </div>
    </div>
  </li>
  <br>
  {% endfor %}
  <br>
  <br>
</ol>
</div>
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
</body>
</html>


