<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>全文搜索</title>
  <link rel="stylesheet" href="">
  <script>
  //<![CDATA[
  //]]>
  </script>
  <style>
  <!--
  /*em:lang(ja),em:lang(zh) {*/
  em {
      padding-bottom: .05em;
      padding-bottom: -webkit-calc(0px);
      border-bottom: 2px dotted;
      text-emphasis: filled circle;
      font-style: inherit;
      -moz-text-emphasis: filled circle;
      -webkit-text-emphasis: filled circle;
      -moz-text-emphasis-position: under;
      -webkit-text-emphasis-position: under;
      text-emphasis-position: under;
      border-bottom-width: -webkit-calc(0px);
      font-weight: bold;
  }
  span {
    color: green;
  }

  -->
  </style>
</head>
<body>
<br />
同时支持简体繁体查找所需内容．

<form action="/search" method="get">
查找: <input type="search" name="content">
<input type="submit">
</form>

<ol>
  {% for hl, an, title, author in results %}
  <li>
    <div>
    <a href="{{an}}">{{title}}</a> <span>{{author}}</span><br>
    <div>
    {{hl}}
    </div>
    </div>
  </li>
  <br>
  {% endfor %}
  <br>
  <br>
</ol>
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
</body>
</html>


