<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>古籍智能搜索</title>
  <link rel="stylesheet" href="/static/bootstrap4.min.css"/>
  <script type="text/javascript">
      function addNewText(x)
      {
        var ctx=document.getElementById("content");
        var str1 = ctx.value
        var str2 = ctx.value+x;
        var patt1 = /\U000[0-9a-fA-F]{0,4}$/g;
        var patt2 = /\U000[0-9a-fA-F]{0,5}$/g;
        if (str1.search(patt1) == -1 || str2.search(patt2) != -1){
           ctx.value = ctx.value+x;
          }
        ctx.focus();
      }

      function Monitor(t){
		/*限制只能输入合规字符*/
          var str1 = t.value.slice(0, -1);
          var str2 = t.value;
          var patt1 = /\U000[0-9a-fA-F]{0,4}$/g;
          var patt2 = /\U000[0-9a-fA-F]{0,5}$/g;
          var patt3 = /\u[0-9a-fA-F]{0,3}$/g;
          var patt4 = /\u[0-9a-fA-F]{0,4}$/g;
          if (str1.search(patt1) != -1 && str2.search(patt2) == -1){
            t.value = str1;
            }
          if (str1.search(patt3) != -1 && str2.search(patt4) == -1){
            t.value = str1;
            }
      }

  </script>
  <style>
  <!--
  /*em:lang(ja),em:lang(zh) {*/
  /*em {
      padding-bottom: .05em;
      padding-bottom: -webkit-calc(0px);
      font-style: inherit;
      -moz-text-emphasis: filled circle;
      -webkit-text-emphasis: filled circle;
      -moz-text-emphasis-position: under right;
      -webkit-text-emphasis-position: under right;
      text-emphasis: filled circle;
      text-emphasis-position: under right;
      //border-bottom: 2px dotted;
      border-bottom-width: -webkit-calc(0px);
  }*/
  em {
    font-weight:bold;
    color: red;
  }
  span {
    color: green;
  }

  -->
  </style>
</head>
<body>
<br />

<div class="container">
<form action="/search" method="get" role="form">
  <div class="row center-block">
    <div class="col-lg-8">
      <input type="text" class="form-control" id="content" name="content" value="{{content}}" oninput="Monitor(this);" autofocus="autofocus" placeholder="自动检测简体繁体内容">
      <input type="hidden" class="form-control" id="q" name="q" value="{{q}}">
    </div>
    <input type="submit" class="btn btn-default">
  </div>

  <!--div class="input-group mb-3">

       <label class="radio-inline"><input type="radio" name="istitle" checked="true">Title</label>
       <label class="radio-inline"><input type="radio" name="isctx">Content</label>
       <label class="radio-inline"><input type="radio" name="isdict" disabled>Dict</label>
  </div-->

  <div class="d-flex flex-row mb-3">
    <div class="p-2 {% if q=='title'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=title&content={{content}}">标題或經號</a></div>
    <div class="p-2 {% if q=='content'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=content&content={{content}}">全文搜索</a></div>
    <div class="p-2 {% if q=='dict'%}bg-alert{%else%}bg-warning{%endif%}"><a href="/search?q=dict&content={{content}}">字典</a></div>
  </div>

 <div  class="input-group mb-3">
    <div class="btn-group btn-group-justified">
      <span>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿰')">⿰</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿱')">⿱</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿲')">⿲</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿳')">⿳</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿴')">⿴</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿵')">⿵</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿶')">⿶</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿷')">⿷</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿸')">⿸</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿹')">⿹</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿺')">⿺</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('⿻')">⿻</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('↷')">↷</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('↹')">↹</a>
   <a href="#" class="btn btn-primary" onclick="addNewText('\\U000')">\U000xxxxx</a>
      </span>
   </div>
 </div>

<p class="help-block">全文搜索可以使用的字段包括author, title, content, number, dict. 在url上直接查询即可; 默认只在content中查找。</p>
<p class="help-block">author为作者, title为经名。number为经号.<br>
空格、and、&#38;作为逻辑与的分隔，但是不能混用(建议使用&#38;,语法更宽松)。例如，搜索作者为玄奘法师，内容为"坚固执著"。应该在搜索框中输入如下内容(不包含双引号):“坚固执著 author:玄奘”或者“坚固执著&#38; author:玄奘”</p>
<p class="help-block">number为一切合法的经号形式，例如(分隔符为全角顿号): T01n0001、T01n0001_001、T01n0001_p0001a01、T01,no.1,p.1a1、<br>CBETA 2019.Q2, Y25, no. 25, p. 411a5-7<br>
 CBETA,T14,no.475,pp.537c8-538a14、<br>
 100、100,3、t1000、t1000_001、<br>
 《大正藏》第50卷第262頁中、大正二·一a<br>
 例如:希望在解深密经中搜索"坚固执著"，可以输入"坚固执著&#38;number:T16n0676"或者"坚固执著&#38;number:676" 或者"坚固执著&#38;title:解深密经"
 </p>
<p class="help-block">生僻字组合优先级由低到高分别为: CBETA组合字、UNICODE IDS、转义字符(支持\uxxxx和\U000xxxxx两种形式)。</p> 
<p class="help-block"><h5>建议大家使用词汇的方式来搜索，不要使用单个字的方式搜索，因为服务器的算法是基于对汉语词汇的理解，过短(比如单个字)或者太长的句子很可能难以找到需要寻找的内容。生僻字可以和正常的字一起组合成词汇，一起搜索。如果暂时搜索不到，可以过一些日子重新搜索，等待服务器理解。</h5></p> 

</form>
<!--/div-->
  <br>
  <br>

<ol>
  {% for it in results %}
  <li>
    <div>
    {{it.number}}
    <a href="{{it.an}}">{{it.title}}</a>{%if it.author is defined%} <span>{{it.author}}</span>{% endif%}<br>
    <div>
    {{it.hl}}
    </div>
    </div>
  </li>
  <br>
  {% endfor %}
  <br>
  <br>
</ol>
</div>
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
</body>
</html>


