<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="revised" content="">
  <title>智能繁体转简体</title>
  <link rel="stylesheet" href="">
  <script>
  //<![CDATA[
  //]]>
  </script>
  <style>
  <!--
  -->
  </style>
</head>
<body style="width:95%">
<form action="/t2s" method="post" style="width:100%">
<!--繁体: <input type="text" name="tcontent" value="{{tcontent}}"><br />
简体: <input type="text" name="scontent" value="{{scontent}}"><br/>
-->
繁体: <textarea name="tcontent" style="width:95%;height:40%">{{tcontent}}</textarea><br/>
简体: <textarea name="scontent" style="width:95%;height:40%">{{scontent}}</textarea><br/>
<!--textarea-->
<input type="submit" />
</form>
<br />
  <!--script src="jquery.js"></script-->
  <!--script src="http://code.jquery.com/jquery-1.4.2.min.js"></script-->
</body>
</html>


