/* W3School 在线编辑工具 */

*	{
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
	}

div#wrapper
	{
	margin: 0 auto;
	text-align: left;
	border:1px solid #c5c5c5;
	}

body#editor	{
	text-align:left;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	}

div#header	{
	color:#000;
	height:20px;
	background:#fff;
	border-bottom: 1px solid #c5c5c5;
	background: #f5f5f5;
	min-width:1000px;
	}

#header h1	{
	margin:20px 0 0 0;
	font-size:30px;
	float:left;
	color: #a5a5a5;
	}

#header #ad {
	float:left;
	margin:0 0 0 10px;
	border:0px solid #fff;
	width:728px;
	height:90px;
	}

div#butt	{
	height:50px;
	border-bottom: 1px solid #c5c5c5;
	background:#fff;
	}

div#butt input {
	margin:10px 0 0 10px;
	background:red;
	color:#fff;
	width:150px;
	height:30px;
	font:14px Verdana, Arial, Helvetica, sans-serif;
	}

div#CodeArea	{
	float:left;
	height:1835px;
	width:50%;
	margin-left:5px;
	}

#CodeArea h2	{
	margin:10px 0 6px 5px;
	color:red;
	font-size:14px;
	}

#CodeArea textarea{
	width:100%;
	height:1000px;
	overflow:auto;
	border:1px solid #c5c5c5;
		border-right:0;

	font:14px "Courier New", Courier, monospace;
	}

div#result	{
	float:left;
	height:835px;
	width:49%;
	}

#result h2	{
	margin:10px 0 6px 5px;
	color:red;
	font-size:14px;
	}

#result iframe{
	width:100%;
	height:800px;
	border:1px solid #c5c5c5;
	}

#footer	{
	clear:both;
	background:#fff;
	border:1px solid #f5f5f5;
	text-align:left;
	background: #f5f5f5;
	}

#footer	p {
	margin:10px;
	color: #000000;
	font-weight:bold;
	}

a:link, a:visited {
	text-decoration : underline;
	color : #666;
	background : transparent; 
	}

a:hover {
	text-decoration : underline;
	color: #666;
	background : transparent; 
	}

a:active {
	text-decoration : underline;
	color : #666;
	background : transparent;  
	}
