@charset "UTF-8";

/*

*/

/* 统一黑体 */
@font-face {
    font-family:"HeitiTC";
    src:local("Hiragino Sans GB"),
        local("PingFang HK"),
        local("PingFang SC"),
        local(".PingFang SC Light"),
        local(".PingFang TC Light"),
        local(".PingFang-SC-Light"),
        local(".PingFang-TC-Light"),
        local(".PingFang SC"),
        local(".PingFang TC"),
        local("Microsoft YaHei"),
        local("Lantinghei TC Extralight"),
        local("Lantinghei SC Extralight"),
        local(FZLTXHB--B51-0),
        local(FZLTZHK--GBK1-0),
        local("Source Han Serif TC"),
        local("Source Han Sans K"), local("Source Han Sans KR"),
        local("Source Han Sans JP"),local("Source Han Sans CN"),local("Source Han Sans HK"),local("Source Han Sans TW"), local("Source Han Sans TWHK");
}

/* 给汉字加外圈 */
@font-face {
  font-family:"ENCLOSING_CIRCLE";
  src:local("Source Han Serif TC");
  unicode-range: U+20DD-20DE;
}

/* 正常显示缺字方块大小, 冬青黑和雅黑不能随着字体大小变化 */
@font-face {
  font-family: WSQUARE;
  src: local('Source Han Serif TC'),
       local('PingFang HK'),
       local('PingFang SC'),
       local('PMingLiU'),
       local('SimSun');
  unicode-range: U+25A1;
}

/* 悉昙体字体 */
@font-face {
  font-family: 'siddham';
  font-style: normal;
  font-weight: normal;
  src:  local('siddham'), url(/static/siddham.woff) format('woff');
  // local(ApDevaSanskrit),
  // local(ApDevaSiddham),
  unicode-range: U+11580-115FF;
}

/* F區漢字使用抽取出來的花園明朝字體 */
@font-face {
    font-family: 'hanaminsat';
    src: local(HanaMinB),
        url('/static/satextf.woff') format('woff');
    unicode-range: U+2CEEC-2EBCF;
}

/* 用于显示等宽英文和拼音, 拼音a的显示还存在问题 */
@font-face {
  font-family: 'consola';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'),
       local('Consolas'),
       local('Monaco');
}

/* 使用SimSun字体以便正确显示小蝌蚪符号: 引号、逗号、分号等、顿号,需要做一个排查, 标点符号显示需要使用light字重 */
@font-face {
  font-family: quote;
  src: local('SimSun'),
       local('PingFang SC');
  /*local('Source Han Serif TC'),*/
  /*src: local('PingFang SC');
  src: local('Hiragino Sans GB');*/
  unicode-range: U+25a1,U+2010-2027, U+3001-303F, U+FF01-FF9F;
}

/*破折号, 很多字体不支持连字技术，应该做一个排查, 已经只有思源字体支持连字技术*/
/*@font-face {
  font-family: dash;
  src: local('Arial');
  unicode-range: U+2500, U+2014;
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0025-00FF;
  font-variant: small-caps;
  font-stretch: expanded;
  font-feature-settings："liga1" on;
}
*/

/* main layout */

html {
    height: 100%;
    font-family: sans-serif;
    margin:10pt;
}

body{
    height: 100%;
    line-height: 1.3;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*-webkit-font-smoothing: antialiased;*/
    color:#000000;
    background-color: #E7F4FE;
    padding:2em;
    padding-top:100px;
    /*font-family: quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;*/
    font-family: ENCLOSING_CIRCLE, WSQUARE, quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif, "Hiragino Sans GB", "PingFang HK", "PingFang SC", "PMingLiU", "Microsoft YaHei", siddham;
    font-size: large;
    /* font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;*/
}

pre {
    clear:both;
    white-space: pre;
    word-wrap: normal;
    background-color: #E7F4FE;
    border:dashed 0px blue;
    text-indent: 0;
    padding 0 0 0 0:
}

// h1, h2, h3, h4{
//     //font-weight:bold;
//     font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
// }
h1{
    font-weight:bold;
    font-size:1.8em;
    margin-bottom:0.8em;
}

h2.head {
    text-align:center;
    margin-top:1.7em;
    margin-bottom:1.2em;
}

h2{
    font-size:1.5em;
    margin-bottom:0.7em;
    font-weight:bold;
}

h3{
    font-size:1.3em;
    margin-bottom:0.5em;
    font-weight:bold;
}

// add
h4{
    font-size:1.1em;
    margin-bottom:0.4em;
    font-weight:bold;
}

h1.maintitle{
    margin-left:100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    bottom:5px;
}

.jl{
    font-weight: lighter;
    font-size: small;
    font-style: normal;
}
h1.title{
    /*margin-left:100px;*/
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    bottom:5px;
}

h2.institution{
    margin-left:100px;
    font-family:Arial, Helvetica, sans-serif;
}

h2.department{
    margin-left:100px;
    font-family:Arial, Helvetica, sans-serif;
}

h2.subtitle{
    margin-left:100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.footer{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
}


/* components of the breadcrumb trail */
a.breadcrumb{
    color:#FFFFFF;
    text-decoration:none;
    padding-right:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:0.8em;
}

ol,ul {
    padding-left: 2em;
}

ul.breadcrumb
{
    display:inline;
    font-size:1.1em;
}

li.breadcrumb:before{
    content:"▶";
}
li.breadcrumb-first:before{
    content:"▶";
}
li.breadcrumb
{
    padding-left:12px;
    padding-right:5px;
    display:inline;
    color:#000000;
}
li.breadcrumb-first
{
    padding-left:12px;
    padding-right:5px;
    display:inline;
    color:#000000;
}

div.breadcrumb{
    display:inline;
}

.tocontent{
    color:#000066;
    display:none;
}

.hide{
    display:none;
}

a:hover
{
    text-decoration:underline;
}

a.navbar:link
{
    color:#FFFFFF;
    text-decoration:none;
}

a.navbar:visited
{
    color:#FFFFFF;
    text-decoration:none;
}

a.navbar:hover{
    color:#FFFFFF;
    text-decoration:underline;
}


div.pre,
div.pre_eg,
pre.eg,
div.eg{
    clear:both;
    margin-top:1em;
    margin-bottom:1em;
    border-top-width:4px;
    border-bottom-width:4px;
    border-left-width:2px;
    border-right-width:2px;
    border-style:solid;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    color:#000000;
    line-height:1.1em;
    font-family:monospace;
    font-size:10pt;
    /*white-space:pre;*/
    white-space: nowrap;
}

/* table of contents */
ul.toc{
    list-style:none;
}
li.toc{
    list-style:none;
}

/* table of contents links */

a.inlinetoc:link,
a.inlinetoc:visited
{
    color:#7A7A7A;
    font-size:smaller;
    text-decoration:none;
}

a.inlinetoc-this:visited,
a.inlinetoc-this:link
{
    font-size:smaller;
    color:#000000;
    font-weight:bold;
    text-decoration:underline;
}

a.inlinetoc-sub:visited,
a.inlinetoc-sub:link
{
    text-decoration:none;
    color:#000000;
    font-weight:normal;
    font-size:smaller;
}

/* 错误更正 */
span.corr{
    color: #FF0000;
}

/* 悉昙体 */
span.gaiji_sd{
    font-family: 'siddham';
    // font-kerning: normal;  // 具有字距调整信息的OpenType字体才有用
    // <span style="width:0;height:0;float:left;">
    // color:#00d7ff;
    color:#990099;
    letter-spacing: 0;

}

/* 兰扎体 */
span.gaiji_rj{
    color:#00d7ff;
    letter-spacing: 0;
}

/* 规范化异体字 */
span.gaiji_nor{
    font-family: hanaminsat;
    color:#00d7ff;
    letter-spacing: 0;
}

span.gaiji_nun{
    font-family: hanaminsat;
    color:#00d7ff;
    letter-spacing: 0;
}

/* 未规范化异体字 */
span.gaiji_uni{
    font-family: hanaminsat;
    color:#1685a9;
    letter-spacing: 0;
}



span.toclist{
    font-size:smaller;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

p.toclist0{
    margin-left:0.5em;
    margin-top:1pt;
    margin-bottom:3pt;
    text-indent:-0.5em;
    font-size:small;
}

p.toclist1{
    margin-left:1em;
    margin-top:1pt;
    margin-bottom:2pt;
    text-indent:-0.7em;
    font-size:small;
}

p.toclist2{
    margin-left:1.5em;
    text-indent:-1em;
    font-size:small;
}

p.toclist3{
    margin-left:2em;
    text-indent:-1.5em;
    font-size:small;
}

span.toclist-this{
    color:red;
}

a.toclist:visited,
a.toclist:link
{
    font-weight:bold;
    color:#000000;
    text-decoration:none;
}

/* notes */
div.noteHeading{
    margin-top:9pt;
    border:0;
    border-top:1pt;
    border-style:solid;
    padding-top:6pt;
    font-size:larger;
    font-weight:bold;
}
div.noteBody{
    display:inline;
}

div.note{
    margin-left:2em;
    margin-right:2em;
    margin-bottom:3pt;
    margin-top:3pt;
    text-indent:-1em;
}

span.noteLabel{
    vertical-align:super;
    font-size:smaller;
    /*font-style:italic;*/
}

/* 行内注释 */
span.note{
    color:#A9A9A9;
    font-size:smaller;
}

/* 无法在目录部文件中去除括号中的注释
span.note:before{
    content:" (";
}
span.note:after{
    content:") ";
}
*/

/* address */
span.address {
    display: block;
    /*font-style: italic;*/
}
/* images */
img.display{
    margin-top:10pt;
    margin-bottom:10pt;
    display:block;
}

.floatimage{
    float:left;
    margin-right:6px;
    vertical-align:top;
}
/* specialized divs */
div.letter{
    margin-left:2em;
    margin-right:2em;
    margin-top:6pt;
    margin-bottom:6pt;
    border-top:1pt solid green;
    border-bottom:1pt solid green;
}
/* title page */
div.titlePage,
div.titlepage{
    border-top:2pt solid #000000;
    border-bottom:2pt solid #000000;
    padding-top:6pt;
    padding-bottom:6pt;
    font-size:larger;
    text-align:center;
}
div.docImprint{
    margin-top:6pt;
    display:block;
    /*font-style:italic;*/
}
div.docDate{
    /*font-style:italic;*/
}
div.docTitle{
    display:block;
    margin-top:6pt;
    font-weight:bold;
    margin-bottom:18pt;
}
div.docAuthor{
    /*font-style:italic;*/
}

span.byline{
    color: #339933;
}

div.byline{
    display:block;
    text-align: right;
    color: #336633;
/*    margin-right: 2em;*/
}

div.dateline{
    text-align:right;
}

/* paragraphs */

p {
/*   margin-left: 0.5em; */
/*   margin-top: 1pt;
   margin-bottom: 3pt; */
/*   margin-right: 2em;
   margin-left: 2em;
   */
    line-height: 1.9em;
    text-indent: 2em;
    text-align: justify;
    white-space: normal; /* 单词间空白,对中文无效 */
    font-family: quote, "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "PMingLiU";
    /*font-family: quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif, "Hiragino Sans GB", SimSun, "宋体", "Microsoft YaHei", "微软雅黑", "PMingLiU",
     * "Source Han Serif TC";*/
    font-size: 100%;
    font-weight: normal;
    letter-spacing: 0em; /* 字母间空白0.12em */
    //vertical-align: text-bottom;
   padding: 0.1em 0 0.3em 0;
}

p.dharani {
     text-indent: 2em;
     /*margin-left: 2em; */
    /*line-height: 2.7em;*/
    color:#990099;
 }


span.p,
div.p{
    margin-top:0.3em;
}
span.p{
    display:block;
}
div.p blockquote p{
    margin-top:0.0em;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
    -webkit-margin-start:0px;
    -webkit-margin-end:p0px;
}
p.box{
    border:1pt solid #000000;
}

/* verse */
div.lg {
   /* margin-left:10px;
    margin-bottom:10px; */
   /* text-indent:-1em;*/
    margin-bottom:1em;
    margin-top:0;
    margin-left: 4em;
    text-indent: 0;
    color: #10AA10;
}
span.ll {
    margin-left:0em;
    color: #10AA10;

}
span.l {
    margin-left:1em;
    color: #10AA10;

}

/*在小屏幕设备上居中显示偈颂*/
@media screen and (max-width: 736px) {
    body {
        //margin: 10px;
        padding: 0.3em;
    }
    div.lg {
        //margin: 0 0 0 0;
        margin-left: 0;
        // text-align:left;
        text-align:center;
    }
    span.l {
        margin-left:1em;
       /* margin-left: 0;*/
        text-align:center;
        /* text-align:left;*/
    }
    sup{
        display: none;
    }
}

/* misc */
div.epigraph{
    margin:20pt;
}
div.numbering{
    float:left;
    font-size:smaller;
    width:2em;
}

div.linenumber{
}

div.signed{
    text-align:left;
}
div.salute{
    text-align:left;
}
div.indent1{
    margin-left:1em;
}
div.indent2{
    margin-left:2em;
}
div.indent3{
    margin-left:3em;
}
div.indent4{
    margin-left:4em;
}
div.indent5{
    margin-left:5em;
}
div.indent6{
    margin-left:6em;
}

td.label{
    font-weight:bold;
    background-color:#AAAAAA;
}
tr.label td{
    font-weight:bold;
    background-color:#AAAAAA;
}

span.label{
    font-weight:bold;
}

h5{
    font-size:100%;
}
h6{
    font-size:100%;
}

div.tocFront{
    border-bottom:1pt solid #000000;
}
div.tocBack{
    border-bottom:1pt solid #000000;
}
div.tocBody{
    border-bottom:1pt solid #000000;
}
/* a listBibl rend='labels' */
div.listBibl{
    margin-top:6pt;
    margin-bottom:6pt;
}
div.listBibl{
    margin-top:6pt;
    margin-bottom:6pt;
}
span.bibl{
    /*font-style:italic;*/
}
div.bibl{
    margin-left:0.5em;
    text-indent:-0.5em;
}
div.biblfree{
    font-size:smaller;
    margin-left:0.5em;
    text-indent:-0.5em;
    margin-bottom:6pt;
}

span.biblLabel{
    font-weight:bold;
    margin-right:1em;
}

/* a <bibl> inside a <cit> */
div.citbibl:before{
    content:"(";
}
div.citbibl:after{
    content:")";
}
div.citbibl{
    /*font-style:italic;*/
    font-size:smaller;
}

/*add*/
div.commentary p{
    //font-style:italic;
    font-size:smaller;
    font-family: quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif, "PMingLiU", SimSun;
    font-weight:light;
}
/* a <quote> inside a <cit> */
div.citquote{
    margin-left:10pt;
    margin-right:10pt;
}

/* gloss lists with bold labels */
dt{
    font-weight:bold;
}
/* quotation */
div.blockquote
{
    margin-top:10pt;
    margin-bottom:10pt;
    margin-left:40px;
    margin-right:40px;
}
/* opener */
div.opener
{
    margin:10pt;
}
div.q{
    margin:10pt;
}
/* figures */
.figure{
    display:block;
    border-top:solid 1pt blue;
    border-bottom:solid 1pt blue;
}
.caption{
    margin-top:6pt;
    margin-bottom:12pt;
    display:block;
    /*font-style:italic;*/
}
/* inline quote */
span.q{
}

/* from drama */
/* speeches in drama */
.p-in-sp{
    margin-left:1em;
}
div.sp{
    margin-top:4pt;
}
div.spProse{
    text-indent:-1em;
    margin-left:1em;
}
div.speaker{
    /*font-style:italic;*/
}
span.speaker{
   /* font-style:italic;*/
}

span.actor{
    /*font-style:italic;*/
}
span.camera{
    /*font-style:italic;*/
}
span.role{
    /*font-style:italic;*/
}
span.set{
    /*font-style:italic;*/
}
span.sound{
    /*font-style:italic;*/
}
span.stage{
    /*font-style:italic;*/
}
span.tech{
    /*font-style:italic;*/
}
span.view{
    /*font-style:italic;*/
}
span.nextLink{
    /*font-style:italic;*/
}
span.previousLink{
    /*font-style:italic;*/
}
span.upLink{
    /*font-style:italic;*/
}
/* bibl */
span.titlem{
    /*font-style:italic;*/
}
span.titlej{
    /*font-style:italic;*/
}
span.titleu{
}
span.titles{
}

aside,
span.notemargin,
span.notemarginOuter,
span.notemarginLeft,
span.notemarginRight,
span.notemargin,
div.notemargin{
    display:block;
    font-size:smaller;
    clear:right;
    padding:4pt;
    /*font-style:italic;*/
    width:10%;
    border:solid green 1pt;
    margin:6pt;
}
span.notemargin,
span.notemarginOuter,
span.notemarginRight,
span.notemargin,
div.notemargin{
    float:right;
}
span.notemarginLeft{
    float:left;
}

div.floatingText_back{
    border-top:solid black 1pt;
}
div.floatingText_front{
    border-top:solid black 1pt;
}
div.floatingText{
    margin:6pt;
    border:solid black 1pt;
}
div.pagebreak,
span.pagebreak{
    display:block;
    color:grey;
    float:right;
}
span.element{
    font-weight:bold;
    color:black;
}
span.unclear{
   /* font-style:italic;*/
}
span.wordtypeNN,
span.wordtypeNNS{
    color:green;
}
span.wordtypeVVD,
span.wordtypeVVN,
span.wordtypeVVN,
span.wordtypeVVZ,
span.wordtypeVVG,
span.wordtypeVV{
    color:red;
}

li.headless{
    display:none;
}

div.footer{
    border-top:solid black 1pt;
}

div.stdfooter{
    clear:both;
    border-top:solid black 1pt;
    border-bottom:solid black 1pt;
}

div.altfigure{
    border-top:solid black 1pt;
    border-bottom:solid black 1pt;
}

// table.table {
//     /*margin: 0 auto; */ /*添加了居中*/
//     border:solid black 1pt;
//     border-top:2px solid ;
// }
//
// table.table tr,
// table.table td{
//     border:solid black 1pt;
// }
// table.table td{
//     padding:1ex 1ex 1ex 1ex;
// }
p.mainAuthor{
    display:block;
    margin:1ex 0ex 1ex 0ex;
}
p.mainEditor{
    display:block;
    margin:1ex 0ex 1ex 0ex;
}

/* for ePub */
div.EpubCoverPage{
    -webkit-hyphens:none;
    font-family:serif;
    height:860pt;
    font-size:30pt;
    font-weight:bold;
    padding-top:15pt;
    margin:12pt;
    border:solid red 1pt;
    text-align:center;
}
/* general purpose block aligns */
.centerbold{
    text-align:center;
    font-weight:bold;
}
.center{
    text-align:center;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}

/* <hi> rend values */
span.typewriter{
    font-family:monospace;
}
span.normalweight{
    font-weight:normal;
}
span.smallcaps{
    font-variant:small-caps;
}
span.bold{
    font-weight:bold;
}
span.italic{
    /*font-style:italic;*/
}
span.allcaps{
    text-transform:uppercase;
}
span.strikethrough{
    text-decoration:line-through;
}
span.doublestrikethrough{
    text-decoration:line-through;
}
span.underline{
    text-decoration:underline;
}
span.wavyunderline{
    text-decoration-line:underline;
    text-decoration-style:wavy;
}
span.doubleunderline{
    text-decoration:underline;
}
span.superscript{
    vertical-align:super;
    font-size:smaller;
}
span.subscript{
    vertical-align:bottom;
    font-size:smaller;
}
span.numberParagraph:before{
    content:"[";
}
span.numberParagraph:after{
    content:"] ";
}
span.numberParagraph{
    font-size:smaller;
    color:grey;
}

/* misc inline*/

span.foreign{
    /*font-style:italic;*/
}

span.distinct{
  /*font-style: italic;*/
}

/* generic rendition */
.plain{
    text-decoration:none;
}

.small{
    font-size:small;
}
.term{
    /*font-style:italic;*/
    font-style:normal;
    font-weight:bold;
}
.hi{
    /*font-style:italic;*/
}
.emph{
    font-weight:bold;
}
.label{
    font-weight:bold;
}
.mentioned{
    /*font-style:italic;*/
}

/* transcription */

div.sourceDoc{
}

div.surfaceGrp{
    border-bottom-width:1pt;
    border-bottom-color:green;
    border-bottom-style:solid;
    clear:both;
}

div.surface{
    clear:both;
    border-width:1pt;
    border-style:solid;
    border-color:grey;
    margin-bottom:1ex;
}

div.zone{
    border-width:1pt;
    border-style:solid;
    border-color:lightgrey;
    margin-bottom:0.5ex;
}

div.line{
}

div.facsimage{
    float:right;
}
div.facsimage img{
    max-height:100%;
    width:auto
}

span.damage{
    border-bottom:1px dashed red;
}
/* app crit */
div.appcrit{
    border-top:solid black 1pt;
    margin-top:2pt;
    padding-top:2pt;
    margin-bottom:2pt;
    margin-left:1em;
}
div.app{
    margin-top:1pt;
    font-size:smaller;
}
span.lemma{
}
span.lemmawitness{
    font-weight:bold;
}
span.listhead{
    display:block;
    margin-top:0em;
    margin-right:1em;
    padding-left:3px;
    padding-right:3px;
    font-weight:bold;
}

/*td:last-child {
    text-align:right;
}*/
/*border: 0px solid transparent !important;*/
/*
table.border td{
    vertical-align:top;
    border:1px solid black;
    padding:2px;
}
table.border td.norules{
    border-width:0px;
    padding-top:6px;
}
table.border{
    border-collapse:collapse;
    border-spacing:0;
}*/
.del{
    text-decoration:line-through;
}
.red{
    color:red;
}
.green{
    color:green;
}
.orange{
    color:orange;
}

ruby rtc rt {
    display: inline;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    /*font-size: inherit;*/
    font-family: Arial, Helvetica, sans-serif, consola;
}

ruby.mps,ruby.zhuyin {
    display: ruby;
    -webkit-ruby-position: inter-character;
    ruby-position: inter-character;
}

rt {
    font-size: .5em;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -ms-transform: scale(.8);
    -ms-transform-origin: left center;
}

rt:empty{
    display: none;
}

ruby {
    position: relative;
    letter-spacing: 0;
}

/*h-ruby.zhuyin h-diao,ruby.mps h-diao,ruby.zhuyin h-diao
    position: absolute;
    right: -.9em;
    bottom: .5em;
    display: block;
    font-size: 1.5em;
}
h-ruby.zhuyin h-diao h-char,ruby.mps h-diao h-char,ruby.zhuyin h-diao h-char
{
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}
{
    top: -.3em;
    right: auto;
    bottom: auto;
    left: 0;
    font-size: 1em;
}
*/

:lang(*=Hant){
}

:lang(en){
    font-family: consola;
    letter-spacing: 0;
}

:lang(*-Latn){
    font-family: consola;
    letter-spacing: 0;
}


/*汉字/西文混排间隙: 预设在「汉字-拉丁字母」「汉字－希腊字母」「汉字－西里耳字母」间加入宽为0.25em的间隙*/
/*:lang(zh)+:lang(en), :lang(zh)+lang(*-Latn){
}
*/


sub,sup {
    font-family: consola;
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    letter-spacing: 0;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

/* 敬语: 赤金色 */
.honorific {
    color:#F2BE45;
}

html
{
    -ms-font-feature-settings: "liga";
    /*-moz-font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";*/
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    /*font-variant-ligatures: contextual;*/
    /*font-variant-ligatures: discretionary-ligatures;*/
    /*font-variant-ligatures: historical-ligatures;*/

}

/* 关闭新字形?
[lang*=Hant],[lang*=Hans],[lang=zh-TW],[lang=zh-HK],[lang=zh-CN],[lang^=zh],article blockquote i,article blockquote var,article strong,code,html,kbd,pre,samp {
    -moz-font-feature-settings: "liga=1, locl=0";
    -ms-font-feature-settings: "liga","locl" 0;
    -webkit-font-feature-settings: "liga","locl" 0;
    font-feature-settings: "liga","locl" 0;
}*/

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{ display:block }

