@charset "UTF-8";

/*

*/

/* 统一黑体 */
@font-face {
    font-family:"HeitiTC";
    src:local("Hiragino Sans GB"),
        local("PingFang HK"),
        local("PingFang TC"),
        local("PingFang SC"),
        local("Source Han Sans");
}

/* 统一宋体 */
@font-face {
    font-family:"SongtiTC";
    src:local("Source Han Serif"),
        local("Source Han Serif TC"),
        local("Source Han Serif SC"),
        local("Noto Serif"),
        local("Noto Serif CJK"),
        local("Noto Serif CJK TC"),
        local("Noto Serif CJK SC"),
        local("source-han-serif-tc"),
        local("source-han-serif-sc"),
        local("serif"),
        local("PMingLiU"),
        local("SimSun"),
        local("宋体");
}

/* 给汉字加外圈 */
@font-face {
  font-family:"ENCLOSING_CIRCLE";
  src:local("Source Han Serif");
  unicode-range: U+20DD-20DE;
}

/* 正常显示缺字方块大小, 冬青黑和雅黑不能随着字体大小变化 */
@font-face {
  font-family: WSQUARE;
  src: local('Source Han Serif'),
       local('PingFang HK'),
       local('PingFang SC'),
       local('PMingLiU'),
       local('SimSun');
  unicode-range: U+25A1;
}

/* 兰扎体字体 */
@font-face {
  font-family: 'ranjana';
  font-style: normal;
  font-weight: normal;
  src:  url(/static/fonts/Ranjana20200524.otf) format('opentype');
  unicode-range: U+11500-11559;
}

/* 悉昙体字体 */
@font-face {
  font-family: 'siddham';
  font-style: normal;
  font-weight: normal;
  src:  url(/static/fonts/NotoSansSiddham-Regular.otf) format('opentype');
  unicode-range: U+11580-115FF;
}

/* G區漢字 */
@font-face {
  font-family: 'SCTG';
  font-style: normal;
  font-weight: normal;
  src:  url(/static/SCTG.otf) format('opentype');
  unicode-range: U+30000-3134A;
}

/* CDEF區漢字使用抽取出來的花園明朝字體 */
/*
@font-face {
    font-family: 'hanaminsat';
    src: url('/static/CDEF.woff') format('woff');
    local(HanaMinB), url('/static/satextf.woff') format('woff');
    unicode-range: U+2CEEC-2EBCF;
}
*/

/* 用于显示等宽英文和拼音, 拼音a的显示还存在问题 */
@font-face {
  font-family: 'consola';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'),
       local('Consolas'),
       local('Monaco');
}

/* 使用SimSun字体以便正确显示小蝌蚪符号: 引号、逗号、分号等、顿号,需要做一个排查, 标点符号显示需要使用light字重 */
@font-face {
  font-family: quote;
  src: local('SimSun'),
       local('PingFang SC');
  /*local('Source Han Serif TC'),*/
  /*src: local('PingFang SC');
  src: local('Hiragino Sans GB');*/
  font-weight: light;
  unicode-range: U+25a1,U+2010-2027, U+3001-303F, U+FF01-FF9F;
}

/*破折号, 很多字体不支持连字技术，应该做一个排查, 已知只有思源字体支持连字技术*/
/*@font-face {
  font-family: dash;
  src: local('Arial');
  unicode-range: U+2500, U+2014;
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0025-00FF;
  font-variant: small-caps;
  font-stretch: expanded;
  font-feature-settings："liga1" on;
}
*/

/* main layout */
    /*font-family: sans-serif;*/
html {
    height: 100%;
    margin:10pt;
    font-size: 130%;
    /*font-family: ENCLOSING_CIRCLE, WSQUARE, quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif,
        "Hiragino Sans GB", "PingFang HK", "PingFang SC", "PMingLiU", "Microsoft YaHei",
        hanaminsat, siddham;
        */
    font-family: quote, "Hiragino Sans GB", "PingFang SC", "PMingLiU", hanaminsat
    /*font-family: quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;*/
    /*font-family: ENCLOSING_CIRCLE, WSQUARE, quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif, "Hiragino Sans GB", "PingFang HK", "PingFang SC", "PMingLiU", "Microsoft YaHei", siddham;*/
    /* font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;*/

}

body{
    height: 100%;
    // line-height: 1.3em;
    color:#000000;
    /*background-color: #D0D0D0;  *//*150秒开始,使用40秒缓慢切换到此数值CCCCCC*/
    // background-color: #fffbf0;  /*象牙白*/
    background: url(/static/bg.jpg) repeat;
    padding:2em;
    padding-top:100px;
    font-feature-settings: "liga";
    //font-feature-settings: "liga", "ss04";
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    /*font-variant-ligatures: contextual;*/
    /*font-variant-ligatures: discretionary-ligatures;*/
    /*font-variant-ligatures: historical-ligatures;*/
    // -ms-text-size-adjust: 100%;
    // -webkit-text-size-adjust: 100%;
    /*-webkit-font-smoothing: antialiased;*/
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* paragraphs */
p {
    line-height: 1.8em;
    text-indent: 2em;
    text-align: justify;
    white-space: normal; /* 单词间空白,对中文无效 */
    /*font-family: quote, "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "PMingLiU", hanaminsat;*/
    /*font-family: quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif, "Hiragino Sans GB", SimSun, "宋体", "Microsoft YaHei", "微软雅黑", "PMingLiU",
     "Source Han Serif";*/
    font-size: 100%;
    // font-weight: normal;
    letter-spacing: 0em; /* 字母间空白0.12em */
    //vertical-align: text-bottom;
    padding: 0.1em 0 0.3em 0;
}

pre {
    clear:both;
    white-space: pre;
    word-wrap: normal;
    background-color: #E7F4FE;
    border:dashed 0px blue;
    text-indent: 0;
    padding 0 0 0 0:
}

h1, h2, h3, h4{
    font-family: HeitiTC
}

h1{
    font-size:1.8em;
    margin-bottom:0.8em;
    font-weight:bold;
}

h2.head {
    text-align:center;
    margin-top:1.7em;
    margin-bottom:1.2em;
}

h2{
    font-size:1.5em;
    margin-bottom:0.7em;
    font-weight:bold;
}

h3{
    font-size:1.3em;
    margin-bottom:0.5em;
    font-weight:bold;
}

h4{
    font-size:1.1em;
    margin-bottom:0.4em;
    font-weight:bold;
}

h1.maintitle{
    margin-left:100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    bottom:5px;
}

.jl{
    font-weight: lighter;
    font-size: small;
    font-style: normal;
}

h1.title{
    text-align:center;
    bottom:5px;
}

.footer{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.8em;
}


/* components of the breadcrumb trail */
a.breadcrumb{
    color:#FFFFFF;
    text-decoration:none;
    padding-right:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:0.8em;
}

ol,ul {
    padding-left: 2em;
}

ul.breadcrumb
{
    display:inline;
    font-size:1.1em;
}

li.breadcrumb:before{
    content:"▶";
}
li.breadcrumb-first:before{
    content:"▶";
}
li.breadcrumb
{
    padding-left:12px;
    padding-right:5px;
    display:inline;
    color:#000000;
}
li.breadcrumb-first
{
    padding-left:12px;
    padding-right:5px;
    display:inline;
    color:#000000;
}

div.breadcrumb{
    display:inline;
}

/*
.tocontent{
    color:#000066;
    display:none;
}

.hide{
    display:none;
}
*/

a:hover
{
    text-decoration:underline;
}

a.navbar:link
{
    color:#FFFFFF;
    text-decoration:none;
}

a.navbar:visited
{
    color:#FFFFFF;
    text-decoration:none;
}

a.navbar:hover{
    color:#FFFFFF;
    text-decoration:underline;
}



/* table of contents */
ul.toc{
    list-style:none;
}
li.toc{
    list-style:none;
}

/* table of contents links */
/*
a.inlinetoc:link,
a.inlinetoc:visited
{
    color:#7A7A7A;
    font-size:smaller;
    text-decoration:none;
}

a.inlinetoc-this:visited,
a.inlinetoc-this:link
{
    font-size:smaller;
    color:#000000;
    font-weight:bold;
    text-decoration:underline;
}

a.inlinetoc-sub:visited,
a.inlinetoc-sub:link
{
    text-decoration:none;
    color:#000000;
    font-weight:normal;
    font-size:smaller;
}

*/
/* 错误更正 */
span.corr{
    color: #FF0000;
}

/* 悉昙体 */
span.gaiji_sd{
    font-family: 'siddham';
    color:#990099;
    letter-spacing: 0;

}

/* 兰扎体 */
span.gaiji_rj{
    font-family: 'ranjana';
    // color:#00d7ff;
    color:#990099;
    font-size: 130%;
    letter-spacing: 0;
}

/* 规范化异体字 */
span.gaiji_nor{
    color:#1685a9;
    // letter-spacing: 0;
}

span.gaiji_nun{
    color:#1685a9;
    // letter-spacing: 0;
}

/* 未规范化异体字 */
span.gaiji_uni{
    color:#065279;
    // letter-spacing: 0;
}

/*

span.toclist{
    font-size:smaller;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

p.toclist0{
    margin-left:0.5em;
    margin-top:1pt;
    margin-bottom:3pt;
    text-indent:-0.5em;
    font-size:small;
}

p.toclist1{
    margin-left:1em;
    margin-top:1pt;
    margin-bottom:2pt;
    text-indent:-0.7em;
    font-size:small;
}

p.toclist2{
    margin-left:1.5em;
    text-indent:-1em;
    font-size:small;
}

p.toclist3{
    margin-left:2em;
    text-indent:-1.5em;
    font-size:small;
}

span.toclist-this{
    color:red;
}

a.toclist:visited,
a.toclist:link
{
    font-weight:bold;
    color:#000000;
    text-decoration:none;
}
*/

/* notes */
/*
div.noteHeading{
    margin-top:9pt;
    border:0;
    border-top:1pt;
    border-style:solid;
    padding-top:6pt;
    font-size:larger;
    font-weight:bold;
}
div.noteBody{
    display:inline;
}

div.note{
    margin-left:2em;
    margin-right:2em;
    margin-bottom:3pt;
    margin-top:3pt;
    text-indent:-1em;
}

span.noteLabel{
    vertical-align:super;
    font-size:smaller;
}
*/

/* 行内注释 */
span.note{
    color:#A9A9A9;
    font-size:smaller;
}

/* 无法在目录部文件中去除括号中的注释
span.note:before{
    content:" (";
}
span.note:after{
    content:") ";
}
*/

/* address */
span.address {
    display: block;
    /*font-style: italic;*/
}
/* images */
img.display{
    margin-top:10pt;
    margin-bottom:10pt;
    display:block;
}

.floatimage{
    float:left;
    margin-right:6px;
    vertical-align:top;
}
/* specialized divs */
div.letter{
    margin-left:2em;
    margin-right:2em;
    margin-top:6pt;
    margin-bottom:6pt;
    border-top:1pt solid green;
    border-bottom:1pt solid green;
}
/* title page */
div.titlePage,
div.titlepage{
    border-top:2pt solid #000000;
    border-bottom:2pt solid #000000;
    padding-top:6pt;
    padding-bottom:6pt;
    // font-size:larger;
    text-align:center;
}
div.docImprint{
    margin-top:6pt;
    display:block;
    /*font-style:italic;*/
}
div.docDate{
    /*font-style:italic;*/
}
div.docTitle{
    display:block;
    margin-top:6pt;
    font-weight:bold;
    margin-bottom:18pt;
}

div.docAuthor{
    /*font-style:italic;*/
}

span.byline{
    color: #339933;
}

div.byline{
    display:block;
    text-align: right;
    color: #336633;
/*    margin-right: 2em;*/
}

div.dateline{
    text-align:right;
}


.dharani {
    color:#990099;
 }


/* verse */
div.lg {
   /* margin-left:10px;
    margin-bottom:10px; */
   /* text-indent:-1em;*/
    margin-bottom:1em;
    margin-top:0;
    margin-left: 4em;
    text-indent: 0;
    color: #10AA10;
}

div.ll {
   /* margin-left:10px;
    margin-bottom:10px; */
   /* text-indent:-1em;*/
    margin-bottom:1em;
    margin-top:0;
    margin-left: 4em;
    text-indent: -1em;
    color: #10AA10;
}
div.lll {
   /* margin-left:10px;
    margin-bottom:10px; */
   /* text-indent:-1em;*/
    margin-bottom:1em;
    margin-top:0;
    margin-left: 4em;
    text-indent: -2em;
    color: #10AA10;
}

span.l {
    margin-left:1em;
    color: #10AA10;

}

/*在小屏幕设备上居中显示偈颂*/
@media screen and (max-width: 736px) {
    body {
        font-family: quote, "Hiragino Sans GB", "PingFang SC", "Microsoft YaHei", "PMingLiU", hanaminsat;
        padding: 0.3em;
        font-size: 100%;
    }
    div.lg {
        //margin: 0 0 0 0;
        margin-left: 0;
        text-align:center;
    }
    div.ll {
        //margin: 0 0 0 0;
        margin-left: 0;
        // text-align:left;
        text-align:center;
        text-indent: -1em;
    }
    div.lll {
        margin-left: 0;
        // text-align:left;
        text-align:center;
        text-indent: -2em;
    }
    span.l {
        margin-left:1em;
        text-align:center;
    }
    sup{
        display: none;
    }
}


/*add*/
div.commentary{
    //font-style:italic;
    font-size: smaller;
    font-family: quote, Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif, "PMingLiU", SimSun;
    font-weight:light;
}

/* gloss lists with bold labels */
dt{
    font-weight:bold;
}

/* figures */
.figure{
    display:block;
    border-top:solid 1pt blue;
    border-bottom:solid 1pt blue;
}

.caption{
    margin-top:6pt;
    margin-bottom:12pt;
    display:block;
}


/* misc inline*/

span.foreign{
    /*font-style:italic;*/
}

span.distinct{
  /*font-style: italic;*/
}


td:last-child {
    text-align:right;
}

.del{
    text-decoration:line-through;
}
.red{
    color:red;
}
.green{
    color:green;
}
.orange{
    color:orange;
}


ruby rtc rt {
    display: inline;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    /*font-size: inherit;*/
    font-family: consola, Arial, Helvetica, sans-serif;
}


rt {
  /*  display: inline; */
    font-size: .5em;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -ms-transform: scale(.8);
    -ms-transform-origin: left center;
    font-family: consola, Arial, Helvetica, sans-serif;
}

rt:empty{
    display: none;
}

ruby {
    position: relative;
    letter-spacing: 0;
}


// :lang(*=Hant){
// }

:lang(en){
    font-family: consola;
    letter-spacing: 0;
}

:lang(*-Latn){
    font-family: consola;
    letter-spacing: 0;
}


/*汉字/西文混排间隙: 预设在「汉字-拉丁字母」「汉字－希腊字母」「汉字－西里耳字母」间加入宽为0.25em的间隙*/
/*:lang(zh)+:lang(en), :lang(zh)+lang(*-Latn){
}
*/

:lang(*=Hant)+:lang(en), :lang(*=Hant)+:lang(*-Latn), :lang(*=Hant)+:lang(sa*){
    margin:0.5em;
}


sub,sup {
    font-family: consola;
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    letter-spacing: 0;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}
/*quote*/
q {
    color:brown;
}


/* 敬语: 赤金色 */
.honorific {
    color:#F2BE45;
}

/* 人名地名: 下划线 */
/*.persName {
    text-decoration:underline wavy black;
}
*/


/* 关闭新字形?
[lang*=Hant],[lang*=Hans],[lang=zh-TW],[lang=zh-HK],[lang=zh-CN],[lang^=zh],article blockquote i,article blockquote var,article strong,code,html,kbd,pre,samp {
    -moz-font-feature-settings: "liga=1, locl=0";
    -ms-font-feature-settings: "liga","locl" 0;
    -webkit-font-feature-settings: "liga","locl" 0;
    font-feature-settings: "liga","locl" 0;
}*/

/*html5*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{ display:block }
