/* 
  Tipitaka stylesheet for Unicode Latin encoding. 
*/

body { 
  font-family: "Times Ext Roman", "Indic Times", "Doulos SIL", Tahoma, "Arial Unicode MS", Gentium;
  background: white;
}

span {}

.note {
/* color: blue; */
color:#A9A9A9;
font-size:smaller;
}

.bld {font-weight: bold; }
.paranum {font-weight: bold; }

p {
  border-top: 0in; border-bottom: 0in;
  padding-top: 0in; padding-bottom: 0in;
  margin-top: 0in; margin-bottom: 0.5cm;
}

.indent { font-size: 12pt; text-indent: 2em; margin-left: 3em;}

.bodytext { font-size: 12pt; text-indent: 2em;}

.hangnum { font-size: 12pt; margin-bottom: -0.75cm; text-indent: 2em;}

/* Namo tassa, and nitthita -- no unique structural distinction */
.centered { font-size: 12pt; text-align:center;}

.unindented { font-size: 12pt;}

.book { font-size: 21pt; text-align:center; font-weight: bold;}

.chapter { font-size: 18pt; text-align:center; font-weight: bold;}

.nikaya { font-size: 24pt; text-align:center; font-weight: bold;}

.title { font-size: 12pt; text-align:center; font-weight: bold;}

.subhead { font-size: 12pt; text-align:center; font-weight: bold;}

.subsubhead { font-size: 12pt; text-align:center; font-weight: bold;}

/* Gatha line 1 */
.gatha1 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 2 */
.gatha2 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha line 3 */
.gatha3 { font-size: 12pt; margin-bottom: 0em; margin-left: 4em;}

/* Gatha last line */
.gathalast { font-size: 12pt; margin-bottom: 0.5cm; margin-left: 4em;}
